[v-cloak] {
  display: none;
}
body {
  padding: 0;
  margin: 0;
  background: #eee;
}
body * {
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.survey {
  background: #fff;
  margin: auto;
  max-width: 650px;
  min-height: 100vh;
  padding: 30px;
  border: 1px solid #ddd;
}
.survey.overview {
  padding: 50px;
}
.survey.overview h1 {
  font-size: 34px;
}
.survey h1 {
  margin-top: 0;
  font-weight: 500;
  font-size: 35px;
}
.survey > .desc {
  color: #333;
  font-size: 18px;
  text-align: center;
}
.frm {
  margin-top: 80px;
}
.form-group {
  margin-bottom: 30px;
}
.form-group.text-lg {
  padding: 10px 10px;
}
.form-group.text-lg label {
  font-size: 18px;
}
.form-group.text-lg .input input {
  font-size: 16px;
  width: 100%;
}
.form-group label {
  font-size: 16px;
}
.form-group .required-maker {
  font-size: 12px;
  color: red;
}
.form-group .input {
  margin-top: 12px;
}
.form-group .input ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #777;
}
.form-group .input ::-moz-placeholder {
  /* Firefox 19+ */
  color: #777;
}
.form-group .input :-ms-input-placeholder {
  /* IE 10+ */
  color: #777;
}
.form-group .input :-moz-placeholder {
  /* Firefox 18- */
  color: #777;
}
.form-group .input input {
  border: 0;
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 7px;
  min-width: 400px;
  font-size: 14px;
  outline: none;
  background: none;
}
.form-group .input input[readonly] {
  color: #333;
  cursor: default;
}
.form-group .input input:focus {
  border-bottom: 1px solid #000;
}
.pretty .state label:before {
  border-color: #444 !important;
}
.pretty .state label:after,
.pretty .state label:before {
  width: .9em !important;
  height: .9em !important;
}
.pretty.p-default input:checked ~ .state label:after {
  background-color: #333!important;
}
.button {
  text-decoration: none;
  border-radius: 3px;
  padding: 7px 12px;
  background-color: #f6f7f9;
  border: 1px solid #eee;
  color: #4b4f56;
  margin-top: 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}
.button.right {
  float: right;
}
.error-message {
  display: block;
  margin-top: 7px;
  color: #f00;
  font-size: 13px;
}
.category {
  margin-top: 50px;
}
.category h3 {
  font-weight: 500;
}
table {
  width: 95%;
  margin-bottom: 50px;
}
table tr:first-child td {
  padding: 10px 0;
}
table tr td {
  text-align: center;
  max-width: 120px;
  padding: 5px 0;
}
table tr td:first-child {
  padding: 5px 20px 5px 0;
  text-align: left;
  max-width: auto;
}
table tr td .pretty {
  margin-right: 0;
}
.line {
  text-align: center;
  border-bottom: 1px solid #333;
  width: 35%;
  margin: 40px auto 80px;
}
.success-message {
  text-align: center;
}
.loader {
  text-align: center;
}
.loader img {
  width: 16px;
}
.note {
  padding-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  color: #666;
  margin-top: -5px;
}
.clear {
  clear: both;
  display: block;
}
.buttons-group {
  margin-top: 50px;
  width: 97%;
}
.checkbox {
  margin-top: 20px;
}
.checkbox label {
  font-size: 16px !important;
}
